{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <th>Symbol</th>
            <th>Name</th>
            <th>Shares</th>
            <th>Price</th>
            <th>TOTAL</th>
        </thead>
        <tbody>
            {% for stock in stocks %}
            <tr>
                <td>{{ asset["symbol"] }}</td>
                <td> {{ stock["name"] }} </td>
                <td>{{ asset["SUM(quantity)"] }}</td>
                <td>{{ prices[loop.index0] | usd }}</td>
                <td>{{ ((prices[loop.index0])*asset["SUM(quantity)"]) | usd }}</td>
            </tr>
            {% endfor %}
            
            <tr>
                <td>CASH</td>
                <td colspan="3"></td>
                <td>{{ usd(cash) }}</td>
            </tr>
        </tbody>
        <tfoot>
            <td colspan="4"></td>
            <td>{{ usd(total) }}</td>
        </tfoot>
    </table>
{% endblock %}
